.card .card-body {
    padding-top: 1.1rem;
}

.card .card-body h5 {
    display: inline-block;
    line-height: 1.5rem;
    color: #111111;
}

.card .card-body img.ico {
    display: inline-block;
    width: 35px;
    margin-top: -10px;
}
