#login {
    margin-top: 3rem;
}

#login .content form .campos,
#login .content p {
    min-height: 7.5rem;
    margin-bottom: 20px;
}

.title {
    margin-bottom: 1.5rem;
}

#login h2 {
    font-size: 1.25rem;
}

#login form input[type=submit],
#login a.botao {
    padding: 0 25px;
    background-color: #009688;
    color: #fff;
    height: 50px;
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    line-height: 50px;
    transition: all .2s linear;
    border-radius: 0;
    text-transform: uppercase;
    width: 100%;
    margin: 0;
    text-align: center;
    appearance: button;
    -webkit-appearance: button;
}

#login form input[type=submit]:hover,
#login a.botao:hover {
    background-color: #4db6ac;
    border-color: #4db6ac;
}
